@import url(https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap);
#logo {
  font-family: "Permanent Marker", cursive;
  font-size: 2em;
  background-image: url("/img/logo.png");
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

#welcome {
  background-image: url("/img/graffiti.png");
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 0.4px;
  -webkit-text-stroke-color: black;
}

.cursive {
  font-family: "Permanent Marker", cursive;
}
